---
import SectionContainer from "@/components/SectionContainer.astro"
import SubmitButton from "@/components/SubmitButton.astro"

interface Props {
  title: string
  button: string
  id: string
  success: string
  error?: string
  class?: string
}

const { title, button, id, success, error, class: className } = Astro.props
---

<main class:list={[className, "my-auto flex items-center justify-center"]}>
  <SectionContainer
    as="form"
    id={id}
    class="flex h-full flex-col gap-6 rounded-xl bg-white/50 p-6 shadow ring-1 ring-zinc-900/10 backdrop-blur"
  >
    <h1 class="text-2xl font-black leading-none tracking-tight text-zinc-900">
      {title}
    </h1>

    <div class="grid grid-cols-2 gap-2">
      <slot />
    </div>

    <SubmitButton label={button} success={success} error={error} />
  </SectionContainer>
</main>
